doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/less/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    nav.top-bar
      section.top-bar-section
        ul.left
          li.name
            h1: a.navPanel#regButton(href="/") Register
          li.divider
          li.name
            h1: a.navPanel#logButton(href="/") Login
          li.divider
        ul.right
          li.name#loginForm.navForm
            .row
              .small-5.columns
                input(type='email', name='email', placeholder='email', required=true)
              .small-5.columns
                input(type='password', name='password', placeholder='password', required=true)
              .small-2.columns
                button.small Login
          li.name#registerForm.navForm
            .row
              .small-4.columns
                input(type='email', name='email', placeholder='email', required=true)
              .small-3.columns
                input(type='password', name='password', placeholder='password', required=true)
              .small-3.columns
                input(type='text', name='name', placeholder='user-name', required=true)
              .small-2.columns
                button.small Register
          li.name#filler
    .row
      .small-12.columns
        block content

    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/jquery-ui-1.10.4.custom.min.js')
    script(src='/js/vendor/jquery-collision.min.js')

    //broken because of undefined o.options variable on line~353
    //check for bug fix or use a earlier version of jQuery
    //script(src='/js/vendor/jquery-ui-draggable-collision.js')

    script(src='/js/vendor/foundation.min.js')
    script(src='/js/source/UI.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/vendor/moment.js')
    script(src='/js/source/main.js')
    block scripts
